# Table of Contents
1. [Goals](#Goals)
2. [Preprocessing](#Preprocessing)
3. [EDA](#EDA)
4. [Models](#Models)
5. [Results](#Results)
6. [Summary](#Summary)
# Goals

## Preprocessing

In [1]:
#DATA SOURCE
#https://archive.ics.uci.edu/ml/datasets/automobile

In [2]:
import pandas as pd
import numpy as np
from sklearn import preprocessing

In [3]:

df = pd.read_csv("dataset.csv")

In [4]:
data_types = df.dtypes #check datatypes

In [5]:
data_types

symboling              int64
normalized-losses     object
make                  object
fuel-type             object
aspiration            object
num-of-doors          object
body-style            object
drive-wheels          object
engine-location       object
wheel-base           float64
length               float64
width                float64
height               float64
curb-weight            int64
engine-type           object
num-of-cylinders      object
engine-size            int64
fuel-system           object
bore                  object
stroke                object
compression-ratio    float64
horsepower            object
peak-rpm              object
city-mpg               int64
highway-mpg            int64
price                 object
dtype: object

In [6]:

df["price"] = df["price"].apply(lambda x: x.replace("?", "0")) # replace "?" with "0"
df["horsepower"] = df["horsepower"].apply(lambda x: x.replace("?", "0")) # replace "?" with "0"

In [7]:

df["price"] = df["price"].astype(float) # convert type from object to float64
df["horsepower"] = df["horsepower"].astype(float) # convert type from object to float64

In [8]:
df = df[df["price"]>0] # get only positive values of price 
df = df[df["horsepower"]>0] # get only positive values of horsepower

In [9]:
#CREATE PRICE INTERVALS FOR CLASSIFICATION
count_intervals = 8
Z = pd.cut(df.price,count_intervals)

In [10]:
#SHOW INTERVALS
Z.dtypes;

In [11]:
#Prepare intervals to classification

CATS = Z.dtypes.categories
LABELS = [str((x.left, x.right)) for x in CATS]
Y = pd.cut(df.price, count_intervals, labels=LABELS)

In [23]:
#GET ONLY NUMERIC COLUMNS
numerics = ['int16', 'int32', 'int64', 'float16', 'float32', 'float64']
numerical_columns = df.select_dtypes(include=numerics).columns
X = df[numerical_columns]
#SHOW FIRST 20 ROWS
X.head(20)

,symboling,wheel-base,length,width,height,curb-weight,engine-size,compression-ratio,horsepower,city-mpg,highway-mpg,price
0,3,88.6,168.8,64.1,48.8,2548,130,9.0,111.0,21,27,13495.0
1,3,88.6,168.8,64.1,48.8,2548,130,9.0,111.0,21,27,16500.0
2,1,94.5,171.2,65.5,52.4,2823,152,9.0,154.0,19,26,16500.0
3,2,99.8,176.6,66.2,54.3,2337,109,10.0,102.0,24,30,13950.0
4,2,99.4,176.6,66.4,54.3,2824,136,8.0,115.0,18,22,17450.0
5,2,99.8,177.3,66.3,53.1,2507,136,8.5,110.0,19,25,15250.0
6,1,105.8,192.7,71.4,55.7,2844,136,8.5,110.0,19,25,17710.0
7,1,105.8,192.7,71.4,55.7,2954,136,8.5,110.0,19,25,18920.0
8,1,105.8,192.7,71.4,55.9,3086,131,8.3,140.0,17,20,23875.0
10,2,101.2,176.8,64.8,54.3,2395,108,8.8,101.0,23,29,16430.0
11,0,101.2,176.8,64.8,54.3,2395,108,8.8,101.0,23,29,16925.0
12,0,101.2,176.8,64.8,54.3,2710,164,9.0,121.0,21,28,20970.0
13,0,101.2,176.8,64.8,54.3,2765,164,9.0,121.0,21,28,21105.0
14,1,103.5,189.0,66.9,55.7,3055,164,9.0,121.0,20,25,24565.0
15,0,103.5,189.0,66.9,55.7,3230,209,8.0,182.0,16,22,30760.0
16,0,103.5,193.8,67.9,53.7,3380,209,8.0,182.0,16,22,41315.0
17,0,110.0,197.0,70.9,56.3,3505,209,8.0,182.0,15,20,36880.0
18,2,88.4,141.1,60.3,53.2,1488,61,9.5,48.0,47,53,5151.0
19,1,94.5,155.9,63.6,52.0,1874,90,9.6,70.0,38,43,6295.0
20,0,94.5,158.8,63.6,52.0,1909,90,9.6,70.0,38,43,6575.0

## EDA

## Models

In [13]:
#First classifier 

from sklearn import tree

In [14]:
my_class = tree.DecisionTreeClassifier()

In [15]:
from sklearn.model_selection import train_test_split

In [16]:
X_train, X_test, Y_train, Y_test = train_test_split(X, np.array(Y), test_size=0.5)

In [17]:
my_class.fit(X_train, Y_train)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=None,
            splitter='best')

In [18]:
predictions = my_class.predict(X_test)

In [19]:
from sklearn.metrics import accuracy_score

In [20]:
print(accuracy_score(Y_test, predictions))

0.98

In [21]:
#SHOW DECISION TREE GRAPH
# import graphviz 
# dot_data = tree.export_graphviz(my_class, out_file=None)
# graph = graphviz.Source(dot_data)
# graph

## Results

## Summary