In [1]:
#Connection

import sqlite3
#We connect to testdb2.db database
conn = sqlite3.connect('test.db')


# We close the connection and free all resources
conn.close()

In [3]:
#create table

import sqlite3
conn = sqlite3.connect('test.db')

c = conn.cursor()

# Create table
c.execute("CREATE TABLE students(student_id integer primary key autoincrement,name text not null, surname text not null,birth date,weight int,height int)")

# Save (commit) the changes in database.
#Changes not commited will be lost
conn.commit()

# We close the connection and free all resources
conn.close()

In [4]:
#drop table

import sqlite3

conn = sqlite3.connect('test.db')

c = conn.cursor()

#execute the commend below to drop table
c.execute("Drop table students")

# Save (commit) the changes
conn.commit()

# We close the connection and free all resources
conn.close()

In [5]:
#insert rows 
import sqlite3
conn = sqlite3.connect('test.db')

c = conn.cursor()

# Create table
c.execute("CREATE TABLE students(student_id integer primary key autoincrement,name text not null, surname text not null,birth date,weight int,height int)")

# Save (commit) the changes in database.
#Changes not commited will be lost
conn.commit()

# We close the connection and free all resources
conn.close()

In [6]:
#insert records

import sqlite3

conn = sqlite3.connect('test.db')

c = conn.cursor()


# Insert record values using placeholder operator
#While student_id column value is autoincrement primary key,its value should be equal to None
c.execute("INSERT INTO students VALUES(?,?,?,?,?,?)",(None,'Tom','Silver',72,182,'1989-11-03'))

#WRONG:Do not use string operators as below
#c.execute("INSERT INTO students VALUES ({0},{1},{2},{3},{4})".format('Tom','Silver',72,182,'1989-11-03'))

#print total number of changed rows
print("number of affected rows: {0}".format(conn.total_changes))

# Save (commit) the changes
conn.commit()

# We close the connection and free all resources
conn.close()

number of affected rows: 1

In [8]:
#select 

import sqlite3

conn = sqlite3.connect('test.db')

c = conn.cursor()

#execute the commend below to select name,surname and iteterate through results using iterator
for row in c.execute("SELECT name,surname FROM students ORDER BY surname"):
    print(row)

c.execute("SELECT name,surname FROM students ORDER BY surname")

#execute the commend below to select name,surname,weight,height
c.execute("SELECT name,surname,weight,height FROM students ORDER BY surname")

#get and print single result
print("\nget and print single result")
print(c.fetchone())


#execute the commend below to select name,surname,weight,height
c.execute("SELECT * from students ORDER BY surname")

#get all results,assign them to the list,fecthall() returns empty list if no results
print("\n fetchall approach")
listOfResults=c.fetchall()
for item in listOfResults:
    print(item)


# Save (commit) the changes
conn.commit()

# We close the connection and free all resources
conn.close()

('Tom', 'Silver')

get and print single result
('Tom', 'Silver', 182, '1989-11-03')

 fetchall approach
(1, 'Tom', 'Silver', 72, 182, '1989-11-03')

In [9]:
#exceptions

import sqlite3

con = sqlite3.connect("test.db")

try:
    # Successful, con.commit() is called automatically afterwards
    with con:
        con.execute("INSERT INTO students VALUES (?,?,?,?,?,?)",(None,'Mark','LastGood',69,174,'1989-11-03'))
        con.execute("INSERT INTO students VALUES (?,?,?,?,?,?)",('Tom',null,72,182,'1989-11-03'))

        #When exception occurs, we use rollback() method to revert changes 
except sqlite3.IntegrityError:
    print("IntegrityError:couldn't add record with null surname")
    con.rollback()
except sqlite3.ProgrammingError:
    print("ProgrammingError:table does not exist")
    con.rollback()
except sqlite3.Error:
    print("Error:general db erorr")
    con.rollback()
    
# We close the connection and free all resources
conn.close()

NameError: name 'null' is not defined