In [14]:
#Connection

import sqlite3

conn = sqlite3.connect('chinook.db')


#conn.close()

In [22]:
#select
c = conn.cursor()
c.execute("select * from artists")
for row in c:
    print(row)

In [24]:
#create table

import sqlite3
conn = sqlite3.connect('test.db')

c = conn.cursor()

# Create table
c.execute("CREATE TABLE students(student_id integer primary key autoincrement,name text not null, surname text not null,birth date,weight int,height int)")


conn.commit()

# We close the connection and free all resources
conn.close()

In [25]:
#insert records

import sqlite3

conn = sqlite3.connect('test.db')

c = conn.cursor()

c.execute("INSERT INTO students VALUES(?,?,?,?,?,?)",(None,'Tom','Silver',72,182,'1989-11-03'))

print("number of affected rows: {0}".format(conn.total_changes))

conn.commit()


conn.close()

number of affected rows: 1

In [ ]:
#exceptions

import sqlite3

con = sqlite3.connect("test.db")

try:
    # Successful, con.commit() is called automatically afterwards
    with con:
        con.execute("INSERT INTO students VALUES (?,?,?,?,?,?)",(None,'Mark','LastGood',69,174,'1989-11-03'))
        con.execute("INSERT INTO students VALUES (?,?,?,?,?,?)",('Tom',null,72,182,'1989-11-03'))

        #When exception occurs, we use rollback() method to revert changes 
except sqlite3.IntegrityError:
    print("IntegrityError:couldn't add record with null surname")
    con.rollback()
except sqlite3.ProgrammingError:
    print("ProgrammingError:table does not exist")
    con.rollback()
except sqlite3.Error:
    print("Error:general db erorr")
    con.rollback()
    
# We close the connection and free all resources
conn.close()